* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// container.style.borderRadius = '50%'
// container.style.border = '2px solid black'
// container.style.height = '300px'
// container.style.width = '300px'
// container.style.display = 'flex'
// container.style.flexDirection = 'column'
// container.style.alignItems = 'center'
// container.style.justifyContent = 'center'
