* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    border-radius: 50%;
    position: absolute;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      margin: 10px;
      font-size: 6rem;
      text-align: center;
      width: 15rem;
      height: 8rem;
      border: transparent;
      &:focus {
        outline: none;
      }
    }
    .buttons {
      button {
        padding: 10px 15px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
